name: Clean Caches

on:
  schedule:
    - cron: "0 0 1 * *"
  workflow_dispatch:

permissions: {}

jobs:
  clean-caches:
    name: Clean Caches
    permissions:
      contents: read
    uses: JackPlowman/reusable-workflows/.github/workflows/common-clean-caches.yml@76cfc5cc78955e71a66c06acb41b56e6d5127960 # v2025.11.01.01
    secrets:
      workflow_github_token: ${{ secrets.GH_TOKEN }}
