name: "Code Scanning"

on:
  push:
    branches: [main]
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]

permissions:
  contents: read
  packages: read
  statuses: write
  security-events: write

jobs:
  upload-python-scanner-results:
    name: Upload Python Ruff Scanner Results
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4.2.2
        with:
          fetch-depth: 0

      - name: Setup Python Dependencies
        uses: ./.github/actions/setup-python-dependencies

      - name: Check Python Code Quality (Ruff)
        run: just ruff-lint
        env:
          RUFF_OUTPUT_FORMAT: "sarif"
          RUFF_OUTPUT_FILE: "ruff-results.sarif"
        continue-on-error: true

      - name: Upload analysis results to GitHub
        uses: github/codeql-action/upload-sarif@v3.27.1
        with:
          sarif_file: ruff-results.sarif
          wait-for-processing: true
