name: "Sync labels"

on:
  push:
    branches:
      - main
    paths:
      - .github/tool-configurations/labels.yml
  workflow_dispatch:

permissions: {}

jobs:
  configure-labels:
    name: Configure Labels
    permissions:
      contents: read
      pull-requests: write # For writing labels to the repository
    uses: JackPlowman/reusable-workflows/.github/workflows/common-sync-labels.yml@76cfc5cc78955e71a66c06acb41b56e6d5127960 # v2025.11.01.01
    secrets:
      workflow_github_token: ${{ secrets.GITHUB_TOKEN }}
